.fieldFlex {
	border-width:100px;
	display: flex;
	flex-direction: row;
	color: blue;
	align-items: flex-end;

	
	border-color:  black;
	background-color: gold;
}

.flexBox {
	display: flex;
	justify-content: center;
	border-color: solid solid-black;
	width: 200px;


}

.distanceMeter {
	display: flex;
	flex-direction: row;
	color: blue;
	align-items: flex-end;
	width:100%;
	height:  50px;
}
.vdRating {
	display: flex;
	align-content: center;
	justify-content: flex-end;
}
/*
.vdRating:nth-child(1) {
	background-color: green;
}
.vdRating:nth-child(2) {
	background-color: yellow;
}
.vdRating:nth-child(3) {
	background-color: red;
}
.vdRating:nth-child(4) {
	background-color: black;
}*/
.overRated {
	display: flex;
	white-space: nowrap;
  	overflow: hidden;
	align-content: center;
	justify-content: flex-end;
	background-color: green;
}
.rated{	
	display: flex;
	white-space: nowrap;
  	overflow: hidden;
	align-content: center;
	justify-content: flex-end;
	background-color: yellow;
}
.underRated{
	display: flex;
	white-space: nowrap;
  	overflow: hidden;
	align-content: center;
	justify-content: flex-end;
	background-color:  red;
}
.noVoltage{
	
	display: flex;
	white-space: nowrap;
  	overflow: hidden;
	align-content: center;
	justify-content: center;
	background-color: black;
}